<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="google" content="notranslate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Manager</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Keep Track of Your Time</h1>
    <div>
      <form id="form">
        <label for="category">Category Name:</label>
        <input type="text" id="category" name="category" placeholder="Category name"><br>

        <label for="taskname">Task Name:</label>
        <input type="text" id="taskname" name="taskname" placeholder="Task name"><br>

        <label for="segments">Segments:</label>
        <input type="text" id="segments" name="segments" placeholder="Number of segments" pattern="\d+" title="Please enter a number"><br>

        <label for="numline">Lines:</label>
        <input type="text" id="numline" name="numline" placeholder="Number of lines" pattern="\d+" title="Please enter a number"><br>

        <label for="iterations">Iterations:</label>
        <input type="text" id="iterations" name="iterations" placeholder="Number of iterations" pattern="\d+" title="Please enter a number"><br>

        <label for="displayplot">Display Plot (optional):</label>
        <input type="checkbox" id="displayplot" name="displayplot" value="Plot">

        <input type="button" class="submit" value="Submit" onclick="createTask()">
      </form>
    </div>
    <h1>Tasks</h1>
    <ul class="display_tasks" id="myUl"></ul>
    <script type="text/javascript" src="../eel.js"></script>
    <script src="./script.js"></script>
  </body>
</html>