body {
    font-family: Arial, sans-serif;
    background-color: #c6c3c3;
}

h1{
    color: #4a4848;
    text-align: center;
    margin-bottom: 0.5em;
}
.back {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 15px;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #d34136;;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}
.back:hover {
    background-color: #e73b2e;
}

.start {
    display: block;
    margin: 10px auto 0;
    margin-bottom: 20px;
    width: 30%;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #2839b7;
}
.start:hover {
    background-color: #35b63b;
}
.start:disabled {
    background-color: #615f5f;
    cursor: not-allowed;
}

.task_info {
    color: #4a4848;
    max-width: 400px;
    margin: 0px auto;
    margin-bottom: 20px;
    justify-content: space-between;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: Left;
    list-style-type: none;
}

li {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}

.nextButton {
    display: block;
    margin: 10px auto 0;
    margin-bottom: 20px;
    width: 30%;
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    color: white;
    background-color: #26be2e;
}
.nextButton:hover {
    background-color: #3fc846;
}
.nextButton:disabled {
    background-color: #615f5f;
    cursor: not-allowed;
}
.key {
    font-weight: bold;
}